<!DOCTYPE HTML>
<html>

<head>
  <title>HU Calendar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/page2style.css">
</head>

<body>
  <div class="background"></div>
  <a href="/"><img class="smalllogo" src="static/HUlogo.png"></a>
  {% if current_user.is_authenticated %}
  <a href="signout"><button class="button button2">Sign Out</button></a>
  <a href="calendar"><button class="button4">View
      Calendar</button></a>
  {% else %}
  <a href="login"><button class="button button2">Sign In</button></a>
  {% endif %}
  <h6>Todays's date is:</h6>
  <p id="date"></p>

  <form action="search" method="get">
    <br>
    <div class="forms">

      Date: <input type="date" name="date">

      Location: <input type="text" name="location">

      <input type="submit" class="btn btn-primary">
    </div>
  </form>

  <table>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Action</th>
    </tr>
    {% for result in results %}
    <tr>
      <td>{{ result[1] }}</td>
      <td class="date">{{ result[2] }}</td>
      <td>{{ result[3] }}</td>
      <td>
        {% if result[6] == True %}
        <button class="btn btn-danger action" data-action="leave" data-id="{{ result[0] }}">Leave</button>
        {% elif result[6] == False %}
        <button class="btn btn-success action" data-action="join" data-id="{{ result[0] }}">Join</button>
        {% elif result[6] == None %}
        <button class="btn btn-danger action" data-action="delete" data-id="{{ result[0] }}">Delete</button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>

  <script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

    // Action buttons
    let clicked = false;
    for (const button of document.querySelectorAll("button.action")) {
      button.addEventListener("click", () => {
        if (clicked) return;
        clicked = true;

        fetch(`/${button.dataset.action}_event`, { method: "POST", body: new URLSearchParams({ event_id: button.dataset.id }) })
          .then(() => location.reload())
          .catch(console.error);
      });
    }

    for (const dateElement of document.querySelectorAll("td.date")) {
      const date = new Date(dateElement.textContent + "Z");
      dateElement.textContent = Intl.DateTimeFormat(navigator.language, { dateStyle: "medium", timeStyle: "short" }).format(date);
    }
  </script>
</body>

</html>